<div class="nav-item px-3">
    @if (ChildContent is not null)
    {
        <form action="@Href" method="post">
            @ChildContent
            <button type="submit" class="nav-link">
                @IconAndText
            </button>
        </form>
    }
    else
    {
        <NavLink class="nav-link" href="@Href" Match="@Match">
            @IconAndText
        </NavLink>
    }
</div>

@code {
    [Parameter] public string Href { get; set; } = string.Empty;
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public string IconClass { get; set; } = string.Empty;
    [Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
    [Parameter] public RenderFragment ChildContent { get; set; }

    private RenderFragment IconAndText => @<text><span class="bi @IconClass" aria-hidden="true"></span> @Text</text>;
}
